@font-face {
  font-family: 'Japanese3017';
  src: url('fonts/Japanese 3017.otf') format('truetype');
}
@font-face {
  font-family: 'Makisupa';
  src: url('fonts/MAKISUPA.TTF') format('truetype');
}

body {
  margin-top: 20px;
  background: white;
  transition: background-color .5s ease;
  overflow-x: hidden;
}

body.loaded {
  background: black;
}

header {
  position: fixed;
  top: -100px;
  left: 0;
  width: 100%;
  height: 80px;
  background: rgb(255, 0, 0);
  transition: top .5s ease;
  z-index: 10;
}

body.loaded header{
    top: -60px;
}

body.loaded header:hover {
  top: 0;
}

footer {
position: fixed;
bottom: 0;
left: 0;
width: 100%;
height: 25px;
background: rgb(255, 0, 0);
background-image: url('images/footer-pattern.jpg');
color: white;
display: flex;
justify-content: center;
align-items: center;
font-size: 18px;
}

.footer-text {
  position: relative;
  display: inline-block;
}

.footer-text p {
  margin: 0;
  position: absolute;
  left: 50%;
  bottom:-11px;
  transform: translateX(-50%);
  white-space: nowrap;
  animation: scroll-left 30s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100vw);
  }
}
